<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}MVJ College of Engineering - Smart Attendance System{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% block head %}{% endblock %}
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
            <li><a href="{{ url_for('upload_students') }}">Upload Students</a></li>
            <li><a href="{{ url_for('view_students') }}">View Students</a></li>
            <li><a href="{{ url_for('attendance.take_attendance') }}">Take Attendance</a></li>
            <li><a href="{{ url_for('attendance.get_attendance') }}">View Attendance</a></li>
            <li><a href="{{ url_for('attendance_details') }}">Attendance Details</a></li>
            <li><a href="{{ url_for('help') }}">Help</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
    </nav>

    <div class="main-content">
        {% block content %}{% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>